doctype html
html
  head
    block head 
      meta(charset="utf-8")
      meta(name="renderer" content="webkit")
      meta(http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1")
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(name="apple-mobile-web-app-status-bar-style" content="black")
      meta(name="format-detection" content="telephone=no, email=no, address=no")
      meta(name="viewport" content="width=750, user-scalable=no")
      link(rel="stylesheet" type="text/css" href="/css/reset.min.css")
      link(rel="stylesheet" type="text/css" href="/css/style.css")    
      link(rel="shortcut icon" href="#")
  body
    block content
    script(src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js")
    script(src="/js/iscroll-lite.min.js") 
    script(src="/js/fastclick.js")
    script(src="/js/public.js")
    scrip(src="/js/video-poster.js")
    block script