.search-wrap.none
    .search-main.clearfix
        .search-head
            label.search-label.fl.clearfix
                i.search-left.fl.search-click
                input(type="text" placeholder="搜索关键词").search-ipt.search-ipt1
            p.close.fr.mr30.tc.hand.close-click
                i.icon-close
        .search-key


        



