extends layout

append head
    title= "觅糖网"
    meta(name="keywords" content="觅糖网,")
    meta(name="description" content="觅糖网是一个")
block content
    header.site-head
        a(href="").site-head-left
        a(href="").site-logo.tc
            img(src="/images/logo.png", alt="logo")
        a(href="").site-head-right
    nav.site-nav
        a(href="").sel 推荐
        a(href="") 视频
        a(href="") 国内
        a(href="") 北美
        a(href="") 非洲
            
    article
        ul
            li
                p 这一次，不想让重庆从我的全世界路过
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
            li
                p 这一次，不想让重庆从我的全世界路过
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")




